[user]
  name = guri3
  email = aloesquash.lock@gmail.com
[core]
  quotepath = false
  editor = vi
[push]
  # push only the current branch
  default = current
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  s = status --short --branch
  ci = commit
  co = checkout 
  br = branch
  fe = fetch
  d = diff
  di = diff
  dc = diff --cached
  info = remote show origin
  lg = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %Cred%d%Creset'
  lga = log --graph --all --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s %Cred%d%Creset'
  dc = diff --cached
